@import "tailwindcss";

@theme inline {
  --color-background: #FFF8E8;
  --color-foreground: #5B3A29;
  
  --color-main: #FFF8E8;
  --color-accent: #5B3A29;

  --font-sans: var(--font-zen-maru), ui-sans-serif, system-ui, sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
